/*
*	Style for the diagramme
*/
.line-path{
	fill : none;
	stroke-width: 1px;
	stroke :steelblue;
	stroke-linejoin: round;
}

.path-focus{
	stroke-width: 3px;
}

circle{
	fill: steelblue;
	stroke: none;
}

#tooltip{
	position: fixed;
	left: 40px;
	top: 0px;
	background-color: #222;
	border-radius: 5px;
	color: rgb(194, 194, 194);
	padding: 5px;
	font-size : 0.8em;
}

body {
	background-color: aliceblue;
}

.section{
	margin-bottom: 20px;
}


.tableau-resume{
	background-color: rgb(255, 255, 255);
	color: black;
	display: inline-block;
	/* box-shadow: 0 0 10px white; */
	border-radius: 10px;
	margin-bottom: 20px;
}
.section-diagrame{
	background-color: white;
	padding: 20px;
}